<%- include('../partials/admin-header') %>
<%- include('../partials/admin-menu') %>

<h2>Creation d'une promotion</h2>

<% if(error) {%>
  <p style="color: red;"><%= error %></p>
<%}%>

<% if(dbConnected) {%>
<form action="/admin/promotions" method="POST" enctype="multipart/form-data">
  
  <label for="title">Titre</label>
  <input type="text" name="title" id="title" value="<%= title || ''%>">

  <label for="upload_file">Choisissez une image</label>
  <input type="file" name="upload_file" id="upload_file">


  <label for="position">Position</label>
  <input type="number" name="position" min="1" max="4" value="<%= position || ''%>">

  <input type="submit">

</form>
<%}%>

<%- include('../partials/admin-footer') %>