<%- include('../partials/admin-header') %> <%- include('../partials/admin-menu')
%>

<h2>Créer une actualité</h2>

<% if(error) {%>
  <p style="color: red;"><%= error %></p>
<%}%>

<% if(dbConnected) {%>
<form action="/admin/actualites" method="POST">

  <select name="place" id="place">
    <option value="">Choisissez la boutique :</option>
    <option value="clisson" <%= place === 'clisson' ? 'selected' : '' %> >Clisson</option>
    <option value="vallet" <%= place === 'vallet' ? 'selected' : '' %> >Vallet</option>
    <option value="aigrefeuille" <%= place === 'aigrefeuille' ? 'selected' : '' %> >Aigrefeuille sur maine</option>
    <option value="all" <%= place === 'all' ? 'selected' : '' %> >Toutes les boutiques</option>
  </select>

  <label for="title">Titre</label>
  <input type="text" name="title" id="title" value="<%= title || '' %>">

  <label for="content">Information</label>
  <textarea name="content" id="content"><%= content || '' %></textarea>

  <button type="submit">valider</button>
</form>
<%}%>

<%- include('../partials/admin-footer') %>
