<%- include('../partials/admin-header') %>

<h1>ACTUALITES</h1>

<%- include('../partials/admin-menu') %> 
<% if(success) { %>
<p style="color: green"><%= success %></p>
<%}%> 
<% if(error) { %>
<p style="color: red"><%= error %></p>
<%}%>

<button><a href="/admin/actualites/new">Ajouter</a></button>

<% news.forEach(actu => { %>
<ul>
  <li><%= actu.id %></li>
  <li><%= actu.place %></li>
  <li><%= actu.title %></li>
  <li><%= actu.content %></li>
  <li>
    <a href="/admin/actualites/<%= actu.id %>/edit">Modifier</a>
  </li>
  <li>
    <form action="/admin/actualites/<%= actu.id %>/delete" method="POST">
      <button>supprimer</button>
    </form>
  </li>
  <li><%= actu.created_at %></li>
</ul>
<%})%> <%- include('../partials/admin-footer') %>
